@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

#IndexBackground {
  background-repeat: no-repeat;
  background-position: center;
}

.m-40 {
  margin: 80px 80px 80px 80px;
}
